<!doctype html />
<html ngApp="myApp">
    <head>
         <meta charset="utf-8" />
    </head>
    <body>

    <div ng-controller= "phoneController">
        <p>Name:{{phone.name}}</p>
        <p>Price:{{phone.price}}</p>
        <p>Made in:{{phone.company.name}}</p>

    </div>

    </body>

</html>
